[Desktop Entry]
Name=TianRen
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=tianren %u
Icon=tianren
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;
Actions=new-window;
StartupWMClass=tianren

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=tianren %u
